---
layout: page
---

<article class="main-wrap clearfix">
<header class="Post Title">
<p class="meta">{{ page.date | date_to_string }}</p>
</header>
<section class="content post">
{{ content }}
</section>
<footer class="social-share">
	
	{% include social-share.md%}
	<div class="post-nav">
<button class="button left round"><a href=""></a>To Previous Post</button>
<button class="button right round"><a href=""></a>To Next Post</button>
</div>
</footer>

<div class="comments clearfix">
	{% include disqus.md %}
</div>


</article>