---
layout: default
---

<div class="nav-wrap">
	 {% include main-nav.md %}
</div>
<div class="page-wrap">
<header class="page-header clearfix">
      <div class="brand-wrap">
      <div class="brand-logo"><img src="/img/oada-logo.svg"></div>
      <div class="brand-title"><h1 class="page-title">{{ page.title }}</h1></div>
	  <div class="meta"><i class="fa fa-calendar-o"></i> {{ page.date | date_to_string }} <span>|</span> <i class="fa fa-tags"></i> {{page.tags}} <span>|</span> <i class="fa fa fa-folder-o"></i> {{page.categories}}</div>		
      </div>
  </header>

<article class="main-wrap clearfix">
<header class="post-title">
</header>
<section class="content post">
{{ content }}
<footer class="post-foot">
	{% include social-share-page.md%}
<!--	<div class="post-nav">
			<a class="button left round" href="">To Previous Post</a>
			<a class="button right round" href="">To Next Post</a>
	</div>  -->
</footer>
</section>

<div class="comments clearfix">
	{% include disqus.md %}
</div>
</article>